*{
    margin: 0px;
    padding: 0px;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 300ms linear;
    z-index: 1;
}

#sidebar.active{
    left: 0px;
}

#sidebar h3{
    color: azure;
    font-family: 'Marmelad', sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 25px 10px;
}

#sidebar a{
    font-family: 'Marmelad', sans-serif;
    font-weight: 600;
    color: azure;
    list-style: none;
    padding: 15px 10px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    display: block;
    text-decoration: none;
}

#sidebar a:hover{
    color: hotpink;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 3px;
}

#content{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bgtext{
    font-family: 'Merriweather', serif;
    font-size: 5em;
    text-align: center;
}

.entext{
    font-family: 'Marmelad', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.label{
    font-family: 'Marmelad', sans-serif;
    font-weight: 600;
    background-color: rgb(63, 78, 36);
    padding: 10px 10px;
    font-size: 0.8em;
    color: azure;
}

.email{
    padding: 5px 15px;
    margin-bottom: 0.5em;
}

#share{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}
