{% extends "words/base.html" %}

{% block title %} Your New Bulgarian Word {% endblock %}

{% block content %}
<div id="wordtable">
    <h2 class="entext title">Word Archive</h2>
    <div style="display: block;">
        <h3 class="entext">{{label.date|date:'F Y'}}</h3>
        <div class="table-view">
            <table>
                {% for word in words %}
                <tr>
                    <td class="bgtext" style="font-size: 1.4em; text-align: left;">{{word.bgword}}</td>
                    <td class="right">/{{word.transcript}}/</td>
                    <td class="right">{{word.definition}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <h3 class="entext">Earlier this year</h3>
        <div class="table-view">
            <table>
                {% for word in previous_words %}
                <tr>
                    <td class="bgtext" style="font-size: 1.4em; text-align: left;">{{word.bgword}}</td>
                    <td class="right">/{{word.transcript}}/</td>
                    <td class="right">{{word.definition}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}