{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'words/css/style.css' %}">
        <!-- Fonts from Google -->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="{% static 'words/js/sidebar.js' %}"></script>
        <div id="sidebar">
            <div class="toggle-btn" onclick="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3 class="entext">New Bulgarian word each day</h3>
            <a href="{% url 'words:todays_word' %}">Home</a>
            <a href="{% url 'words:history' %}">History</a>
            <a href="#">About</a>
            <div id="share">
                <form method="POST">
                    {% csrf_token %}
                    <input type="email" name="email" class="email">
                    <input type="submit" value="Share today's word by email" class="label">
                </form>
            </div>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>